:root {
	--color-alert-red: #f44336;
	--color-alert-green: #4CAF50;
	--color-alert-blue: #2196F3;
	--color-alert-yellow: #ff9800;
}

body {
	margin: 0px;
	min-width: 580px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

main {
	display: flex;
}


.sidebar {
	min-width: 175px;
	background-color: darkgray;
}
.tabs {
	list-style: none;
	padding: 10px;
}
.tab {
	padding: 8px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}
.tab--active {
	background-color: grey;
}


.tab-contents {
	width: 100%;
}

.tab-content {
	display: none;
	margin: 0px 15px;
	text-align: center;
}
.tab-content--active {
	display: block;
}

.tab-content img {
	margin: 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

/* .toggle {
	text-align: center;
	line-height: 40px ;
}
.toggle input[type="checkbox"] {
	width: 80px;
	height: 40px;
} */

.alert {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 15px 0px;
	padding: 10px;
	color: white;
}
.alert--red {
	background: var(--color-alert-red);
}
.alert--green {
	background: var(--color-alert-green);
}
.alert--blue {
	background: var(--color-alert-blue);
}
.alert--yellow {
	background: var(--color-alert-yellow);
}
