/*
===============================
	General
===============================
*/

ytd-app {
	--app-drawer-width: var(--cyd__app-drawer-width);
	--app-drawer-content-container_-_background-color: $yt-main-app-background;
	background: var(--yt-spec-general-background-b);
}