/*
===============================
    Masthead general
===============================

(See https://github.com/Cicero-Interactive/Classic-YouTube-Design/wiki/Tweaks:-Masthead#masthead-general)
*/

/* html body ytd-app div#content.style-scope.ytd-app div#masthead-container.style-scope.ytd-app ytd-masthead#masthead.masthead-finish div#container.style-scope.ytd-masthead */
#masthead #container.ytd-masthead {
    height: 50px;
    box-sizing: border-box;
    background: var(--yt-spec-brand-background-solid);
    border-bottom: 1px solid #e8e8e8;
    min-width: 0;
    padding-bottom: 8px;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}




/*
===============================
    Hamburger menu button
===============================

(See https://github.com/Cicero-Interactive/Classic-YouTube-Design/wiki/Tweaks:-Masthead#hamburger-menu-button)
*/

/* html body ytd-app div#content.style-scope.ytd-app div#masthead-container.style-scope.ytd-app ytd-masthead#masthead.masthead-finish div#container.style-scope.ytd-masthead div#start.style-scope.ytd-masthead yt-icon-button#guide-button.style-scope.ytd-masthead */
#guide-button.ytd-masthead {
    margin: 0px 0px 0px -7px;
}
#guide-button #guide-icon {
    width: 18px;
    color: rgb(150, 150, 150);
}
#guide-button #guide-icon:hover {
    color: rgb(50, 50, 50);
}




/*
===============================
    Search box
===============================

(See https://github.com/Cicero-Interactive/Classic-YouTube-Design/wiki/Tweaks:-Masthead#search-box)
*/

/* Left-align search box */
#masthead #container.ytd-masthead #center #search {
    margin-right: auto;
}
ytd-searchbox#search {
    margin-left: 34px;
}
ytd-searchbox#search > #search-form {
    max-width: 650px;
    height: 29px;
    padding: 0px;
}
ytd-searchbox#search > #search-form > div#container {
    padding: 0px;
    border-radius: 0px;
}
ytd-searchbox#search > #search-form #search-input input {
    line-height: 23px;
    margin: 0px;
    padding: 2px 6px;
}
ytd-searchbox#search > #search-form #search-input input::placeholder {
    color: #767676;
}
ytd-searchbox#search > #search-form > button#search-icon-legacy {
    width: 66px;
}