/*
===============================
    Search box
===============================

(See https://github.com/Cicero-Interactive/Classic-YouTube-Design/wiki/Tweaks:-Masthead#search-box)
*/

/* Left-align search box */
#masthead #container.ytd-masthead #center #search {
    margin-right: auto;
}
ytd-searchbox#search {
    margin-left: 34px;
}
ytd-searchbox#search > #search-form {
    max-width: 650px;
    height: 29px;
    padding: 0px;
}
ytd-searchbox#search > #search-form > div#container {
    padding: 0px;
    border-radius: 0px;
}
ytd-searchbox#search > #search-form #search-input input {
    line-height: 23px;
    margin: 0px;
    padding: 2px 6px;
}
ytd-searchbox#search > #search-form #search-input input::placeholder {
    color: #767676;
}
ytd-searchbox#search > #search-form > button#search-icon-legacy {
    width: 66px;
}