:root {
	/*
	===============================
		General
	===============================
	*/

	--cyd__general__background-color--light-theme: #f1f1f1;
	--cyd__general__background-color--dark-theme: #0f0f0f;
	/* These two values are also stored in YouTube's standard "--yt-spec-general-background-b" variable */





	/*
	===============================
		Masthead general
	===============================
	*/

	--cyd__masthead__height: 50px;

	--cyd__app-drawer__width: 230px;

	--cyd__video-thumbnail-homepage-width: 196px;
	--cyd__video-thumbnail-homepage-height: 110px;
	
	--cyd__video-thumbnail-watchpage-width: 168px;
	--cyd__video-thumbnail-watchpage-height: 94px;


	--cyd__video-thumbnail-red-bar-height: 4px;
}